/*Import Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


/****************************************************/
/***********************  BODY  *********************/
/****************************************************/

body{
  background-color: lightgoldenrodyellow;
  margin: 0;
  display: grid;
  /*makes a grid consisting of 1 column where 
    every child of "body" gets its own row*/
  grid-template-columns: auto; 
}


/****************************************************/
/********************  2 - Title  *******************/
/****************************************************/

h1{
  margin: 50px 50px 0px 50px;
  font-family: Poppins;
}


/****************************************************/
/*****************  3 - CHARACTERS  *****************/
/****************************************************/

main {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  /*space b/w each flex box item/cell*/
  gap: 25px;
  margin-top: 10px;
  margin-left: 39px;
}

.character {
  /*h-offset, v-offset, blur, spread, color*/
  /*'blur' ctrls the blur of the shadow line*/
  /*'spread' increases the size of the shadow*/
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5); 
  background-color: white;
  border: solid 1px black;
  border-radius: 8px;
}

.character:hover{
  /*makes transparent effect when hovering over it*/
  background-color: rgba(246, 203, 6, .5);
}

.character img {
  width: 280px;
  height: 310px;
  margin-bottom: 0px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.character hr{
  margin: 0px 25px 0px 25px;
}

h2 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  /*spacing b/w letters*/
  letter-spacing: 0.3px;
  text-align: center;
  color: #f6cb06;
  margin-top: 0.01vw;
}


/**************TEAM CHARACTER CLASSES**************/
.team-div{
  width: 280px;
  overflow-x: scroll;
}

.team-div .team-img{
   width: 350px;
}
