/*Import Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


/****************************************************/
/********************  1 - NAV   ********************/
/****************************************************/
nav{
	display: inline-flex;
	/*Puts space between .logo, list, & button.
	  Used w/ flex containers only.*/
	justify-content: space-between;
	/*puts .logo, list, & button in the center of their
	  respective text boxes. Works w/ flexboxes (or grids).*/
	align-items: center;
	/*padding & border are included in width & height*/
	box-sizing: border-box;
	margin: 0;
	height: 55px;
    background-color: #f6cb06;
    font-size: min(16px, 3.5vw);

    /*variables*/
    --menu-exterior-padding: 2vw;
}

/****************************************************/
/******************** 1.1 - Logo   ******************/
/****************************************************/
.logo{
	/*Turns  cursor into a pointer when hovered over*/
	cursor: pointer; 
	width: 50px; 
	padding-left: var(--menu-exterior-padding);
}


/****************************************************/
/******************** 1.2 - List   ******************/
/****************************************************/
nav ul li{
	display: inline-flex;
	/*font & backup font here*/
	font-family: "Montserrat", 'sans-serif';
	font-weight: 500;
	padding: 0px .7vw;
}

nav ul li a{
	/*Remove link highlighting & underline*/
	text-decoration: none; 
	color: black;
}

/*hover pseudo-class*/
nav ul li a:hover{
	/*all means all properties, can specify just one
	  instead like 'width'*/
	transition: all 0.3s ease 0s;
	color: white;
    
    /*media query*/
	@media screen and (min-width: 480px){
		text-decoration: underline;
		text-underline-offset: 20.5px;		
	}

}

/****************************************************/
/******************** 1.3 - Button ******************/
/****************************************************/

.button-link{
	padding-right: var(--menu-exterior-padding);
}

nav a button{
	/*top-bottom, left-right*/
	padding: 9px 20px;
	border: none;
	/*makes an oval*/
	border-radius: 8px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	/*gradient direction, color & color-stop, color & color start*/
	/*uninitative color starts & stops create a blend effect/look*/
	background-image: linear-gradient(to bottom, #ADD8E6 0, #3483eb 100%);
}

nav a button:hover{
	/*creates a changing colors effect when hovering over it*/
	background-image: linear-gradient(to bottom, #669ed4 0, #5998d4 100%);
}