/*Import Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html{
  /*global variables*/
  --trapezoid-width-scale: min(45px, 8vw);
  --dist-from-top-scale: min(58px, 10vw);
  --dist-from-top-shift: 39px;
}

body{
  background: lightgoldenrodyellow;
  margin: 0;
}


/**********************************************/
/*****************Pyramid Figure***************/
/**********************************************/

/**********************************************/
/*******************Trapezoids*****************/
/**********************************************/
.baseTrapezoid{
  margin: 0 auto;  /*Centers trapezoids*/
  border-right: calc(0.5 * var(--trapezoid-width-scale)) solid transparent;
  border-left: calc(0.5 * var(--trapezoid-width-scale))  solid transparent;
  border-bottom-width: var(--trapezoid-width-scale);
  border-bottom-style: solid;
  /*Used for shadow*/
  margin-bottom: calc(1/3 * var(--trapezoid-width-scale));
}

.trapezoid9 {
  width: calc(0*var(--trapezoid-width-scale));
  border-bottom-color: lightblue;
  /*horiz bar thickness, vert bar thickness, color*/
  box-shadow: 0 calc(1/3 * var(--trapezoid-width-scale)) skyblue; 
}

.trapezoid8 {
  width: calc(1*var(--trapezoid-width-scale));
  border-bottom-color: green;
  box-shadow: 0 calc(1/3 * var(--trapezoid-width-scale)) darkgreen;
}

.trapezoid7 {
  width: calc(2*var(--trapezoid-width-scale));
  border-bottom-color: yellow;
  box-shadow: 0 calc(1/3 * var(--trapezoid-width-scale)) goldenrod;
}

.trapezoid6 {
  width: calc(3*var(--trapezoid-width-scale));
  border-bottom-color: orange;
  box-shadow: 0 calc(1/3 * var(--trapezoid-width-scale)) darkorange;
}

.trapezoid5 {
  width: calc(4*var(--trapezoid-width-scale));
  border-bottom-color: red;
  box-shadow: 0 calc(1/3 * var(--trapezoid-width-scale)) darkred;
}

.trapezoid4 {
  width: calc(5*var(--trapezoid-width-scale));
  border-bottom-color: lightblue;
  box-shadow: 0 calc(1/3 * var(--trapezoid-width-scale)) skyblue;
}

.trapezoid3 {
  width: calc(6*var(--trapezoid-width-scale));
  border-bottom-color: green;
  box-shadow: 0 calc(1/3 * var(--trapezoid-width-scale)) darkgreen;
}

.trapezoid2 {
  width: calc(7*var(--trapezoid-width-scale));
  border-bottom-color: yellow;
  box-shadow: 0 calc(1/3 * var(--trapezoid-width-scale)) goldenrod;
}

.trapezoid1 {
  width: calc(8*var(--trapezoid-width-scale));
  border-bottom-color: orange;
  box-shadow: 0 calc(1/3 * var(--trapezoid-width-scale)) darkorange;
}

.trapezoid0 {
  width: calc(9*var(--trapezoid-width-scale));
  border-bottom-color: red;
  box-shadow: 0 calc(1/3 * var(--trapezoid-width-scale)) darkred
}

/**********************************************/
/**********************Text********************/
/**********************************************/
.baseText {
  position: absolute;
  font-size: 18px;
  color: black;
  left: 0;
  right: 0;
  text-align: center;
}

.text9 {
  top: calc(0*var(--dist-from-top-scale) + var(--dist-from-top-shift));
}

.text8 {
  top: calc(1*var(--dist-from-top-scale) + var(--dist-from-top-shift));
}

.text7 {
  top: calc(2*var(--dist-from-top-scale) + var(--dist-from-top-shift));
}

.text6 {
  top: calc(3*var(--dist-from-top-scale) + var(--dist-from-top-shift));
}

.text5 {
  top: calc(4*var(--dist-from-top-scale) + var(--dist-from-top-shift));
}

.text4 {
  top: calc(5*var(--dist-from-top-scale) + var(--dist-from-top-shift));
}

.text3 {
  top: calc(6*var(--dist-from-top-scale) + var(--dist-from-top-shift));
}

.text2 {
  top: calc(7*var(--dist-from-top-scale) + var(--dist-from-top-shift));
}

.text1 {
  top: calc(8*var(--dist-from-top-scale) + var(--dist-from-top-shift));
}

.text0 {
  top: calc(9*var(--dist-from-top-scale) + var(--dist-from-top-shift));
}